<!DOCTYPE html>
<html>
<head>
  <title>SimpleApiKeyEngineFacebook</title>
  <%= stylesheet_link_tag    "simpleapikeyengine-facebook/application", media: "all" %>
  <%= javascript_include_tag "simpleapikeyengine-facebook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
